/* laptop.css - 1025px ile 1440px arası ekranlar için */
.navbar {
    padding: 0 3%;
}

.nav-links li {
    margin: 0 10px;
}

.search-container input {
    width: 180px;
}

.search-container input:focus {
    width: 220px;
}
/* Responsive Slider ve Günün Alıntısı - Laptop */
@media (max-width: 1440px) {
    .hero-section {
        padding: 0 3%;
    }
    
    .slider-container {
        height: 450px;
    }
    
    .daily-quote {
        height: 450px;
    }
}
/* kitablar ve jurnallar cardi */
@media (max-width: 1440px) and (min-width: 1025px) {
    .card {
        width: 260px;
        height: 360px;
    }
}

/* footer */
@media (min-width: 1025px) and (max-width: 1440px) {

    .footer-container {

        flex-direction: row; /* Yatay düzen */

    }


    .footer-links, .footer-contact, .footer-social {

        margin: 5px; /* Üst ve alt boşluk */

    }


    .footer-links h4, .footer-contact h4, .footer-social h4 {

        font-size: 20px; /* Başlık boyutu */

    }


    .footer-links a, .footer-social a {

        font-size: 16px; /* Bağlantı boyutu */

    }

}